@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: white;
    --t1-color: black;
    --t3-color: white;
    --t2-color: rgb(0,194,203);
    --box-color:white;
    --greys: rgb(142,142,147);
    --h1-font: 24px;
    --h2-font: 14px;
    --h3-font: 12px;
    --font1: 'Tektur';
    --font2: 'Albert Sans', sans-serif;
}

.dark-mode{
    --bg-color: #121212;
    --t1-color: white;
    --t3-color: black;
    --t2-color: rgb(0, 177, 186);
    --box-color:#1E1E1E;
    --greys: rgb(142,142,147);
    --h1-font: 24px;
    --h2-font: 14px;
    --h3-font: 12px;
    --font1: 'Tektur';
    --font2: 'Albert Sans', sans-serif;
}

body{
  background-color: var(--bg-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition:all .50s ease;

}

.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:30px;
    width:100%;
    position:fixed;
    background-color: var(--bg-color);
    z-index: 1;
    height:75px;
}

.name,.options{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction: row;
}
.name{
    gap:10px;
}

.options{
    gap:100px;
}

.name svg{
    height:50px;
    width:55px;
    color:var(--bg-color)
}

.title{
    font-size: var(--h1-font);
    font-family: var(--font1);
    font-weight: normal;
    text-decoration:none;
    color:var(--t1-color);
}

.nav-link{
    font-size:var(--h2-font);
    font-family: var(--font2);
    font-weight: normal;
    text-decoration:none;
    color:var(--t1-color);
    position: relative;
}
.button1{
    width:80px;
    height:30px;
    border-radius: 20px;
    color:var(--t3-color);
    background-color: var(--t2-color);
    border-style: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.button1:hover{
    transform: scale(1.1);
}

 
.nav-link2{
    font-size:var(--h2-font);
    font-family: var(--font2);
    font-weight: normal;
    text-decoration:none;
    color:var(--t3-color);
    background-color: transparent;
}

.ts-icon{
    height:20px;
    width:20px;
    color:var(--t2-color);
}

.menu svg{
    height:30px;
    width:30px;
    color:var(--t2-color);
}

.theme-switch{
    background-color: var(--box-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border:none;
    border-radius: 50%;
    height:40px;
    width:40px;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.menu{
    display:none;
    cursor:pointer;
}
.nav-link:hover{
    font-weight:bold;
}
.nav-link::before{
    content:'';
    position:absolute;
    left:0;
    width:0%;
    height:3px;
    bottom:-10px;
    background-color: var(--t2-color);
    transition: all .5s;
}

.nav-link:hover::before{
    width:100%;
}


/* FOOTER */

.footer{
    background-color: var(--t2-color);
    position:relative;
    width:100%;
    height:150px;
    bottom:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 60px 0px;
}

.links{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}
.links svg{
    width:40px;
    height:40px;
    color:var(--t3-color);
}

.info{
    font-family: var(--font2);
    font-size: var(--h2-font);
    color:var(--t3-color);
    font-weight: bold;
}

/*MAIN PAGE*/

.begin{
    display: flex;
    flex-direction: column;
    padding:130px 150px 30px;
    align-items: center;
    justify-content: center;
    height:auto;
    gap:30px;
    max-width: 1000px;
    width: 100%;
    margin:0 auto;
    background-color: var(--bg-color);
}

.text-input{
    background-color:var(--box-color);
    width:100%;
    height:250px;
    border: 3px solid var(--t2-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    font-family: var(--font2);
    padding:0px 15px 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.5);
}

.text-input textarea{
    width: 95%;
    height:60%;
    border-color: transparent;
    font-family: var(--font2);
    margin: 0 auto;
    font-size: var(--h2-font);
    resize: none;
    text-align: justify;
    overflow-y: scroll;        
    scrollbar-width: none;  
    -ms-overflow-style: none; 
    color:var(--t1-color);
    background-color:var(--box-color);
}

.char-count{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 645px;
    justify-content: flex-end;
    font-size: var(--h3-font);
    color: var(--greys);
    background-color:var(--box-color);
}

.text-input textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.summary-modes{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    width:90%;
    gap:40px;
    color:var(--t1-color);
    
}

.summary-modes label{
    width:130px;
    height:40px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--t2-color);
    font-family: var(--font2); 
    font-size: var(--h2-font);  
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaraize{
    width:140px;
    height:45px;
    background-color: var(--t2-color);
    color: var(--t3-color);
    border-radius: 10px;
    border: 2px solid var(--t2-color);
    font-family: var(--font1); 
    font-size: var(--h2-font);
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

label:has(input:checked) {
    background-color: var(--t2-color);
    color:var(--t3-color);
    font-family: var(--font1);
  }

input{
    display:none;
}

label:hover{
    transform: scale(1.1);
    
}

.summaraize:hover{
    background-color: var(--bg-color);
    border-color: var(--t2-color);
    color:var(--t2-color);
}

.summary{
    display: flex;
    flex-direction: column;
    padding:0px 150px 50px;
    align-items: center;
    justify-content: center;
    height:auto;
    gap:30px;
    max-width:1000px;
    width:100%;
    margin:0 auto;
    background-color: var(--bg-color);
    color:var(--t1-color);
}

.summary-output h2{
    font-size: var(--h2-font);
    position: absolute;
    top: 20px;
}

.summary-output{
    background-color: var(--box-color);
    position: relative;
    width:100%;
    height:250px;
    border: 3px solid var(--t2-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font2);
    padding:0px 15px 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.5);
}

.copy{
    position: absolute;
    bottom: 20px;
    width:80px;
    height:35px;
    background-color: var(--t2-color);
    color: var(--t3-color);
    border-radius: 10px;
    border: 2px solid var(--t2-color);
    font-family: var(--font1); 
    font-size: var(--h3-font);
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.how-to{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:50px;
    padding:50px 0px 50px;
    color: var(--t1-color);
    background-color: var(--bg-color);
}



.how-to h2,.features h2{
    color: var(--t2-color);
    font-size: var(--h1-font);
    font-family: var(--font2);
}

.how-to p{
    font-size: var(--h2-font);
    font-family: var(--font2);
}

.how-to-points{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:50px;
}

.points{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:10px;
}

.points svg{
    width:50px;
    height:50px;
    color: var(--bg-color);
}

.points p{
    width:150px;
    height:50px;
}

.points p span{
    font-family: var(--font1);
    color: var(--t2-color);
}

.features{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding:50px 0px 50px;
    color: var(--t1-color);
    background-color: var(--bg-color);
}

.feature{
    border:1px solid var(--greys);
    border-radius: 10px;
    padding:20px;
    font-family: var(--font2);
    font-size: var(--h2-font);
    width:100%;
    background-color: var(--box-color);

}

.feature:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}


.f-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    font-weight: bold;
    cursor: pointer;
}

.f-info.active{
    max-height: fit-content;
}

.f-info{
    padding-top:20px;
}

.f-begin{
    padding-top:50px;
    width:60%;
    gap:40px;
    display:flex;
    align-items: center;
    justify-content: center;

}

.icon{
    color:var(--t1-color);
}
/*MEDIA QUERIES*/

@media screen and (max-width: 900px) {
    .nav-link,.button1{
        display:none;
    }

    .menu{
        display:block;
    }
    
    .f-begin{
        flex-direction: column;
    }
}
@media screen and (max-width: 800px){
    .how-to-points{
        flex-direction: column;
    }
}


@media screen and (max-width: 592px) {
    .options{
        display:none;
    }

    .menu{
        display:block;
    }

    
}