@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root{
    --bg-color:white;
    --t1-color:black;
    --t3-color:white;
    --t2-color:rgb(0,194,203);
    --greys:rgb(142,142,147);
    --h1-font:24px;
    --h2-font:16px;
    --h3-font:12px;
    --font1:'Tektur';
    --font2:'Albert Sans';
}